<!DOCTYPE html>
<html>
    <title> Check Write </title>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="check.js"></script>
    </head>
    <body >
        <form ng-app="myApp" ng-controller="myCtrl">
            <input type="text" placeholder="enter number" ng-model="message" >
            <button class="btn btn-primary" ng-click="f2(message)">Search</button><br>
            {{m}}
        </form>
      
       
       

    </body>
</html>